name: Build Status

on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - LICENSE
      - README.md
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.head_ref || github.run_id }}{% endraw %}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["{{python_version_primary}}"]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python {% raw %}${{ matrix.python-version }}{% endraw %}
      uses: actions/setup-python@v5
      with:
        python-version: {% raw %}${{ matrix.python-version }}{% endraw %}
        cache: 'pip'
        cache-dependency-path: 'pyproject.toml'

    - name: Set up Rust
      uses: dtolnay/rust-toolchain@stable
      with:
        toolchain: stable
        components: clippy, rustfmt

    - name: Setup Rust cache
      uses: Swatinem/rust-cache@v2
      with:
        key: {% raw %}${{ matrix.os }}{% endraw %}
  
    - name: Setup rust targets (MacOS)
      run: |
        rustup toolchain install stable-x86_64-apple-darwin
        rustup target add x86_64-apple-darwin
        rustup toolchain install stable-aarch64-apple-darwin
        rustup target add aarch64-apple-darwin
      if: matrix.os == 'macos-latest'

    - name: Setup rust targets (Windows)
      run: |
        rustup toolchain install stable-x86_64-pc-windows-msvc
        rustup target add x86_64-pc-windows-msvc
        rustup toolchain install stable-i686-pc-windows-msvc
        rustup target add i686-pc-windows-msvc
      if: matrix.os == 'windows-latest'

    - name: Install dependencies
      run: make develop

    - name: Lint
      run: make lint

    - name: Checks
      run: make checks
      if: matrix.os == 'ubuntu-latest'

    - name: Build
      run: make build

    - name: Test
      run: make coverage

    - name: Upload test results (Python)
      uses: actions/upload-artifact@v4
      with:
        name: {% raw %}test-results-${{ matrix.os }}-${{ matrix.python-version }}{% endraw %}
        path: |
          **/junit.xml
      if: {% raw %}${{ always() }}{% endraw %}

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
        files: |
            **/junit.xml
      if: matrix.os == 'ubuntu-latest'

    - name: Upload coverage
      uses: codecov/codecov-action@v5
      with:
        token: {% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw %}

    - name: Make dist
      run: |
        make dist-rust
        make dist-py-sdist
        make dist-py-wheel
        make dist-check
      if: matrix.os == 'ubuntu-latest'

    - name: Make dist
      run: |
        make dist-py-wheel
        make dist-check
      env:
        MACOS_DEPLOYMENT_TARGET: 10.12
      if: matrix.os != 'ubuntu-latest'

    - uses: actions/upload-artifact@v4
      with:
        name: {% raw %}dist-${{matrix.os}}{% endraw %}
        path: dist
