name: Build Status

on:
  push:
    branches:
      - main
    tags:
      - v*
    paths-ignore:
      - LICENSE
      - README.md
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.head_ref || github.run_id }}{% endraw %}
  cancel-in-progress: true

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}

    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["{{python_version_primary}}"]

    steps:
    - uses: actions/checkout@v6

    - uses: actions-ext/python/setup@main
      with:
        version: {% raw %}${{ matrix.python-version }}{% endraw %}

    - name: Install dependencies
      run: make develop

    - name: Lint
      run: make lint

    - name: Checks
      run: make checks

    - name: Build
      run: make build

    - name: Test
      run: make coverage

    - name: Upload test results (Python)
      uses: actions/upload-artifact@v5
      with:
        name: {% raw %}test-results-${{ matrix.os }}-${{ matrix.python-version }}{% endraw %}
        path: junit.xml
      if: {% raw %}${{ always() }}{% endraw %}

    - name: Publish Unit Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2
      with:
        files: '**/junit.xml'

    - name: Upload coverage
      uses: codecov/codecov-action@v5
      with:
        token: {% raw %}${{ secrets.CODECOV_TOKEN }}{% endraw %}

    - name: Make dist
      run: make dist

    - uses: actions/upload-artifact@v5
      with:
        name: {% raw %}dist-${{matrix.os}}{% endraw %}
        path: dist
