{
  "$schema": "./node_modules/oxfmt/configuration_schema.json",
  "printWidth": 120,
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "sortPackageJson": false,
  "ignorePatterns": [
    ".svelte-kit/**",
    ".copier-answers.yaml",
    "build/**",
    "coverage/**",
    "dist/**",
    "playwright-report/**",
    "test-results/**"
  ]
}
