{
  "extends": "./tsconfig.json",
  "compilerOptions": {
    "rootDir": "src/lit",
    "declaration": true,
    "declarationDir": "dist",
    "emitDeclarationOnly": true
  },
  "include": ["src/lit/**/*.ts"],
  "exclude": ["src/lit/**/*.test.ts"]
}
