{
  "compilerOptions": {
    "target": "ES2022",
    "useDefineForClassFields": false,
    "experimentalDecorators": true,
    "module": "ESNext",
    "moduleResolution": "bundler",
    "strict": true,
    "declaration": true,
    "declarationDir": "dist",
    "emitDeclarationOnly": false,
    "skipLibCheck": true,
    "types": ["vite/client"]
  },
  "include": ["src/lit/**/*.ts", "src/demo.ts", "vite.config.ts", "vitest.config.ts"]
}
