## Pre-requisites

You need Python >=3.9 on your machine to install `{{project_name_formatted}}`.

## Install with `pip`

```bash
pip install {{project_name_formatted}}
```

## Install with `conda`

```bash
conda install {{project_name_formatted}} --channel conda-forge
```

## Source installation

For other platforms and for development installations, [build `{{project_name_formatted}}` from source](Build-from-Source).
