import AxeBuilder from '@axe-core/playwright';
import { expect, test } from '@playwright/test';

test('home page has no automatically detectable accessibility violations', async ({ page }) => {
  await page.goto('/');
  await expect(page).toHaveTitle('{{ brand_name }}');

  const results = await new AxeBuilder({ page }).analyze();
  expect(results.violations).toEqual([]);
});
