{
  "packageManager": "python",
  "packageName": "{{project_name_formatted}}",
  "uninstallInstructions": "Use your Python package manager (pip, conda, etc.) to uninstall the package {{project_name_formatted}}"
}