[package]
name = "{{module}}_js"
version = "0.1.0"
edition = "2021"
publish = false
keywords = ["experimental"]
include = ["src/**/*", "Cargo.toml", "package.json"]

[lib]
name = "{{module}}"
path = "src/rust/lib.rs"
crate-type = ["cdylib"]

[dependencies]
{{module}} = { path = "../rust", version = "*" }
wasm-bindgen = "0.2.84"

[profile.release]
panic = 'abort'
lto = true