# {{project_name}}

{{project_description}}

[![Build Status](https://github.com/{{github}}/{{project_name_formatted}}/actions/workflows/build.yml/badge.svg?branch=main&event=push)](https://github.com/{{github}}/{{project_name_formatted}}/actions/workflows/build.yml)
[![codecov](https://codecov.io/gh/{{github}}/{{project_name_formatted}}/branch/main/graph/badge.svg)](https://codecov.io/gh/{{github}}/{{project_name_formatted}})
[![License](https://img.shields.io/github/license/{{github}}/{{project_name_formatted}})](https://github.com/{{github}}/{{project_name_formatted}})
[![PyPI](https://img.shields.io/pypi/v/{{project_name_formatted}}.svg)](https://pypi.python.org/pypi/{{project_name_formatted}})
[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/{{github}}/{{project_name_formatted}}/main?urlpath=lab)

## Overview


> [!NOTE]
> This library was generated using [copier](https://copier.readthedocs.io/en/stable/) from the [Base Python Project Template repository](https://github.com/python-project-templates/base).
