[package]
name = "{{module}}_py"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
name = "{{module}}"
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
{{module}} = { path = "./rust", version = "*" }
pyo3 = { version = "0.28.2", features = ["abi3", "extension-module", "multiple-pymethods"] }

[profile.release]
panic = 'abort'
lto = true
