from {{ module }}{% if add_pyodide %}.{{ module }} import Example{% else %} import *{% endif %}


def test_all():
    assert {% if add_pyodide %}str(Example("test")) == "test"{% else %}True{% endif %}
